<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="/dist/css/app.min.css?version=VERNUM">
    <!-- Import driver.css -->
    <link rel="stylesheet" href="/dist/js/driver/driver.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#20376c">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
    <link rel="manifest" id="manifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#20376c">
    <!-- Facebook -->
    <!-- Facebook OG URL -->
    <meta property="og:title" content="NYR Organic Smart Catalogue" />
    <meta property="og:type" content="article" />
    <meta property="og:description" content="Neal's Yard Organic Smart Catalogue" />
    <meta property="og:image" content="assets/favicon/og-fb.png" />

    <title>NYR Smart Catalogue</title>
    <script>
      if(location.href[location.href.length-1] == '/' && location.pathname !== '/') {
        location.href = location.href.substring(0, location.href.length-1);
      }
      if ('serviceWorker' in navigator) {
        // Register a service worker hosted at the root of the
        // site using the default scope.
        navigator.serviceWorker.register('/pwa-sw.js').then(function(registration) {
          console.log('Service worker registration succeeded:', registration);
        }, /*catch*/ function(error) {
          console.log('Service worker registration failed:', error);
        });
      } else {
        console.log('Service workers are not supported.');
      }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2G2VHHXVY0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2G2VHHXVY0');
    </script>
    <script>
      const Module = {
          modules: [],
          add: function($callable, $priority) {
              $priority = $priority || 20;

              if(typeof this.modules[$priority] == 'undefined') {
                this.modules[$priority] = [];
              }

              this.modules[$priority].push($callable);
          }
      };
    </script>
  </head>

  <body ng-app="nyr" ng-controller="app">

    <!-- HTMLLOADER Do NOT Delete  -->

    <div class="progress loading-page">
        <div class="indeterminate"></div>
    </div>

      <nav class="main-nav">
        <div class="nav-wrapper">
        <ul id="nav-mobile">
          <li>
            <a ng-href="{{'https://'+get_consultant_region()+'.nyrorganic.com/shop/' + consultant.data.slug}}" target="_blank" data-position="right" class="tooltipped" data-tooltip="{{'Go to '+ (consultant.data.name.first_name ? consultant.data.name.first_name + '\'s ' : '') +'NYR Organic Shop'}}">
              <img src="/assets/img/Logo.svg" alt="NYR Organic">
            </a>
          </li>
          <li>
            <a href="#" data-target="basket_sidebar" class="sidenav-trigger tooltipped" data-position="right" data-tooltip="View Items">
              <span ng-if="active_items.length" class="tooltip" ng-bind="active_items.length"></span>
              <img src="/assets/img/Book.png" alt="View Items">
            </a>
          </li>
          <li>
            <a href="#share" class="modal-trigger tooltipped" data-position="right" data-tooltip="Share Catalogue">
              <img src="/assets/img/Share.png" alt="Share Catalogue">
            </a>
          </li>
          <li>
            <a href="#" data-target="favourites_sidebar" class="sidenav-trigger tooltipped" data-position="right" data-tooltip="Your Favourites">
              <span ng-if="favourite.$count" class="tooltip" ng-bind="favourite.$count"></span>
              <img src="/assets/img/Favourites.png" alt="Your Favourites">
            </a>
          </li>
          <li>
            <a href="#contact" class="modal-trigger tooltipped" data-position="right" data-tooltip="Contact Consultant">
              <img src="/assets/img/Contact.png" alt="Contact Consultant">
            </a>
          </li>
          <li>
            <a href data-target="cart_sidebar" class="sidenav-trigger tooltipped" data-position="right" data-tooltip="Basket ({{api_basket.basket_price | currency:api_basket.currency_format}})">
              <span ng-if="api_basket.$count" class="tooltip" ng-bind="api_basket.$count"></span>
              <img src="/assets/img/Cart.png" alt="Basket">
            </a>
          </li>
        </ul>
      </div>
      </nav>

      <ul id="basket_sidebar" class="sidenav">
        <li>
          <header ng-hide="!active_items">
            <span ng-bind="active_items.length"></span> Item(s) on Page <span ng-bind="catalogue.active_page"></span> 
            <div ng-show="active_items.length">
              <a class='dropdown-trigger btn btn-small' href='#' data-target='filters'>Sort Items</a>
              <!-- Dropdown Structure -->
              <ul id='filters' class='dropdown-content'>
                <li><a ng-click="sort_items('az')" href="#!">A-Z</a></li>
                <li><a ng-click="sort_items('za')" href="#!">Z-A</a></li>
              </ul>
            </div>
          </header>
          <p class="center-align" ng-show="!active_items">There are no items to display.</p>
        </li>
        <li>
           <div class="row" ng-id="{{item.id}}" ng-repeat="(key, item) in active_items track by $index">
            <div class="col s12">
              <div ng-include="'assets/partials/product_card.html'"></div>
            </div>
        </div>
        </li>
      </ul>

      <ul id="cart_sidebar" class="sidenav">
        <li>
          <header>
            (<span ng-bind="api_basket.$count"></span>) in Basket
          </header>
        </li>
        <li>
            <div class="row">
            <div class="col s12">
              <div ng-show="api_basket.$count" class="card">
                <div class="card-content center-align">
                  <span class="card-title" style="margin-bottom:0"><strong><span>{{api_basket.basket_price | currency:api_basket.currency_format}} total</span></strong></span>
                </div>
                <div class="card-action">
                  <a href="#" ng-click="api_basket.checkout()" style="width:100%">
                    <span ng-if="!api_basket.checking_out">Go to Checkout</span>
                    <div ng-if="api_basket.checking_out" class="preloader-wrapper small active">
                      <div class="spinner-layer spinner-green-only">
                        <div class="circle-clipper left">
                          <div class="circle"></div>
                        </div><div class="gap-patch">
                          <div class="circle"></div>
                        </div><div class="circle-clipper right">
                          <div class="circle"></div>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col s12">
            <header ng-show="api_basket.$count">Items in Basket</header>
            <p class="center-align" ng-show="!api_basket.$count">There are no items to display.</p>
          </div>
          <div class="row" ng-id="{{item.id}}" ng-repeat="(key, item) in api_basket.basket track by $index">
            <div class="col s12">
              <div ng-init="cart_item = true" ng-include="'assets/partials/product_card.html'"></div>
            </div>
        </div>
        </li>
      </ul>

      <ul id="favourites_sidebar" class="sidenav">
        <li>
          <header>
            (<span ng-bind="favourite.$count"></span>) Favourites
          </header>
          <p class="center-align" ng-show="!favourite.$count">There are no items to display.</p>
        </li>
        <li>
           <div class="row">
            <div class="col s12">
               <div ng-show="favourite.$count" class="card">
                <div class="card-content center-align">
                  <span class="card-title"><strong>Send Your Favourites</strong></span>
                  <p>You can email your favourites list to your Consultant so they can keep a record for you for future purchases, gifts from others or as Host rewards.</p>
                </div>
                <div class="card-action">
                  <a href="#" ng-click="mail_favourites()" style="width:100%">Send</a>
                </div>
              </div>

              <div ng-repeat="(id, state) in favourite.$data" ng-if="state && catalogue.pages.data.items[id]">
                <div ng-init="item = catalogue.pages.data.items[id]" ng-include="'assets/partials/product_card.html'"></div>
              </div>

            </div>
        </div>
        </li>
      </ul>

      <div class="flip-book-container solid-container"></div>

      <div>
          <div id="video_modal" class="modal">
            <div class="modal-content">
              <!-- <h4 ng-bind="catalogue.modal.name">Modal Header</h4> -->
              <!-- <p ng-bind="catalogue.modal.description">A bunch of text</p> -->
              <div ng-bind-html="catalogue.modal.item.video | safeHtml"></div>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
      </div>
      
      <div id="checkout-post" style="position: fixed; bottom: 0; left: 0; width: 1px; height: 1px; overflow: hidden; pointer-events: none;">
        <form method="post">
          <input type="hidden" name="bid">
          <input type="hidden" name="cky">
        </form>
      </div>
          

    <!--JavaScript at end of body for optimized loading-->

    <script src="/dist/js/app.min.js?version=VERNUM"></script>
    <script src="https://code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>
    <script src="/dist/js/driver/driver.min.js"></script>
    <script src="/dist/js/3d-flip-book/js/libs/html2canvas.min.js"></script>
    <script src="/dist/js/3d-flip-book/js/libs/three.min.js"></script>
    <script src="/dist/js/3d-flip-book/js/libs/pdf.min.js"></script>
    <script src="/dist/js/3d-flip-book/js/dist/3dflipbook.js"></script>
    

  </body>
</html>