<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link rel="stylesheet" href="/dist/css/app.min.css">
    <!-- Import driver.css -->
    <link rel="stylesheet" href="/dist/js/driver/driver.min.css">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg" color="#20376c">
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico">
    <link rel="manifest" id="manifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#20376c">
    <title>NYR Smart Catalogue</title>
    <script>
      if(location.href[location.href.length-1] == '/' && location.pathname !== '/') {
        location.href = location.href.substring(0, location.href.length-1);
      }
      if ('serviceWorker' in navigator) {
        // Register a service worker hosted at the root of the
        // site using the default scope.
        navigator.serviceWorker.register('/pwa-sw.js').then(function(registration) {
          console.log('Service worker registration succeeded:', registration);
        }, /*catch*/ function(error) {
          console.log('Service worker registration failed:', error);
        });
      } else {
        console.log('Service workers are not supported.');
      }
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-2G2VHHXVY0"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-2G2VHHXVY0');
    </script>
  </head>

  <body ng-app="nyr" ng-controller="app">

    <div id="root_setup" class="modal">
      <div class="modal-content center-align">
        <h4>Welcome to the NYR Smart Catalogue</h4>
        <p>Please choose an option below.</p>
        <div class="row">
          <div class="col s4 center-align">
            <img src="assets/img/Tutorial@dark.png" width="80" alt="Tutorial">
            <p>I'm new to the Smart Catalogue and want to view a tutorial.</p>
            <a ng-click="start_tutorial()"class="waves-effect waves-light btn">Start Tutorial</a>
          </div>
          <div class="col s4 center-align">
            <img src="assets/img/Create@dark.png" width="80" alt="Create">
            <p>As a Consultant I would like to set up my Smart Catalogue.</p>
            <a target="_blank" ng-click="guide('#setup_smart_catalogue')" class="waves-effect waves-light btn">Setup Smart Catalogue</a>
          </div>
          <div class="col s4 center-align">
            <img src="assets/img/Read@dark.png" width="80" alt="Book">
            <p>I would like to read this Smart Catalogue.</p>
            <a ng-click="close_modal('#root_setup')" class="waves-effect waves-light btn">Read Catalogue</a>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>

    <div id="setup_smart_catalogue" class="modal">
      <div class="modal-content center-align">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h4 class="center-align">Setup Smart Catalogue</h4>
              <p>Let's get started on setting up your Smart Catalogue, we first need to know is your current NYR Organic shop URL, it should look something like this.</p>
              <p><pre>https://<span ng-bind="consultant_query.region ? consultant_query.region : 'uk'"></span>.nyrorganic.com/shop/ellie_smith</pre></p>
              <p>When you've found your NYR Organic shop URL, please paste it in the text box below.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input ng-model="my_shop_url" ng-change="validate_my_shop_url()" placeholder="https://{{consultant_query.region ? consultant_query.region : 'uk'}}.nyrorganic.com/shop/ellie_smith" type="url" class="validate">
            <label for="first_name">NYR Organic Shop URL</label>
          </div>
          <div class="col s12">
            <div class="progress" ng-show="my_shop_is_valid == -1">
                <div class="indeterminate"></div>
            </div>
            <p ng-show="my_shop_is_valid == -2">The shop URL you provided is invalid, please try again.</p>
            <p ng-show="my_shop_is_valid.fname">Great! The shop URL is correct.</p>
            <a ng-click="guide('#root_setup')"class="waves-effect waves-light btn">Go Back</a>
            <a disabled="disabled" ng-disabled="!my_shop_is_valid || my_shop_is_valid < 0" ng-click="guide('#setup_smart_catalogue_confirm')" class="continue waves-effect waves-light btn">Continue</a>
          </div>
        </div>
      </div>
    </div>

    <div id="setup_smart_catalogue_confirm" class="modal">
      <div class="modal-content center-align">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h4 class="center-align">Great! Let's Configure</h4>
              <p>Based on the NYR Organic shop URL you provided it looks like your shop name is <strong ng-bind="my_shop_slug"></strong> and you're based in the <strong ng-bind="my_shop_region | uppercase"></strong>. If this is incorrect please select "Go Back" below.</p>
              <p>Next, we need to launch the configurator which will allow you to update your personal details and add any extra information you wish your customers to see.</p>
              <p>Click the button below to launch <span ng-bind="my_shop_slug"></span>'s configurator.</p>
              <div class="row">
              <div class="col s12">
                <a ng-click="guide('#setup_smart_catalogue')" class="waves-effect waves-light btn">Go Back</a>
                <a ng-href="{{'https://configure.nyrcatalogue.com/' + my_shop_slug + '?region=' + my_shop_is_valid.region}}" class="continue waves-effect waves-light btn">Launch Configurator</a>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="options" class="modal">
      <div class="modal-content center-align">
        <h4>Thanks for Reading!</h4>
        <p>Before you go, here are some additional options to choose from.</p>
        <p>
          <div class="collection">
            <a ng-show="favourite.$count" href="#" ng-click="mail_favourites()" class="collection-item">Email my Favourites to <span ng-bind="consultant.data.name.first_name"></span></a>
            <a href="#!" ng-show="can_install_app" ng-click="install_app()" class="collection-item">Install <span ng-bind="consultant.data.name.first_name"></span>'s App</a>
             <a ng-href="{{'https://uk.nyrorganic.com/shop/' + consultant.data.slug}}" class="collection-item">View <span ng-bind="consultant.data.name.first_name"></span>'s NYR Organic Shop</a>
             <a target="_blank" ng-show="consultant.data.social.whatsapp" class="collection-item" ng-href="{{consultant.data.social.whatsapp}}">Join <span ng-bind="consultant.data.name.first_name"></span>'s WhatsApp Group</a>
              <a target="_blank" ng-show="consultant.data.social.newsletter" class="collection-item hide" ng-href="{{consultant.data.social.newsletter}}">Subscribe to <span ng-bind="consultant.data.name.first_name"></span>'s Newsletter</a>
            <a ng-href="{{pdf_url}}" class="hide collection-item">Download this Smart Catalogue</a>
            <a ng-href="{{'https://uk.nyrorganic.com/shop/'+consultant.data.slug+'/area/become-a-consultant/'}}" class="collection-item">Become a Consultant</a>
            <a ng-href="{{'https://uk.nyrorganic.com/shop/'+consultant.data.slug+'/area/have-a-party/'}}" class="collection-item">Host an Event</a>
          </div>
        </p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>

    <div id="configurator" class="modal non-dismiss">

      <div class="row">
        <div>
          <ul class="tabs">
            <li class="tab col s6" ng-class="hide_party_links ? 's12' : 's6'"><a class="active" href="#config">Configure Profile</a></li>
            <li class="tab col s6" ng-show="!hide_party_links"><a href="#party">Configure Party Links</a></li>
          </ul>
        </div>
        <div id="config" class="col s12">
          <div class="modal-content center-align">
            <div class="row">
              <div class="col s12">
                <h4>Configure Catalogue</h4>
                <p>Configure your NYR Organic Smart Catalogue by entering your information below. This information is used to link customers to your shop, social media accounts and to contact you.</p>
              </div>
            </div>
            <div>
              <div class="progress" ng-show="consultant_query.loading">
                  <div class="indeterminate"></div>
              </div>
              <div class="row" ng-show="!consultant_query.loading">
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s6">
                      <input ng-model="consultant_query.first_name" placeholder="Ellie" id="first_name" type="text" class="validate">
                      <label for="first_name">First Name</label>
                    </div>
                    <div class="input-field col s6">
                      <input ng-model="consultant_query.last_name" placeholder="Smith" id="last_name" type="text" class="validate">
                      <label for="last_name">Last Name</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <textarea style="min-height:100px" ng-model="consultant_query.welcome_message" class="materialize-textarea"></textarea>
                      <label for="email">Welcome Message</label>
                      <p class="left-align"><small>Add a Welcome message to be displayed to your customers when they first launch your NYR Organic Smart Catalogue.</small></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input ng-model="consultant_query.email" id="email" placeholder="ellie.smith@gmail.com" type="email" class="validate">
                      <label for="email">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input ng-model="consultant_query.url" id="url" placeholder="https://uk.nyrorganic.com/shop/elliesmith" type="url" class="validate">
                      <label for="url">Your NYR Organic URL</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input ng-model="consultant_query.phone" id="phone" placeholder="{{consultant_query.region == 'uk' ? '+447957931543' : '+1 (123) 456–7890'}}" type="text" class="validate">
                      <label for="phone">Your Telephone Number</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <select ng-model="consultant_query.region">
                        <option value="uk">UK/IE</option>
                        <option value="us">US</option>
                      </select>
                      <label>Country</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <select ng-model="consultant_query.app_launch">
                        <option value="catalogue">My NYR Catalogue</option>
                        <option value="shop">My NYR Shop</option>
                      </select>
                      <label>App Launch</label>
                      <p class="left-align"><small>When a customer downloads and open your app on desktop and mobile, where would you like them to be taken to?</small></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input ng-model="consultant_query.twitter" id="twitter" placeholder="https://twitter.com/elliesmith" type="url" class="validate">
                      <label for="phone">Your Twitter URL</label>
                      <p class="left-align"><small>Enter your Twitter full URL, leave blank if you don't have one.</small></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input ng-model="consultant_query.facebook" id="facebook" placeholder="https://facebook.com/elliesmith" type="url" class="validate">
                      <label for="phone">Your Facebook URL</label>
                      <p class="left-align"><small>Enter your Facebook URL, leave blank if you don't have one.</small></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input ng-model="consultant_query.instagram" id="instagram" placeholder="https://instagram.com/elliesmith" type="url" class="validate">
                      <label for="phone">Your Instagram URL</label>
                      <p class="left-align"><small>Enter your Instagram URL, leave blank if you don't have one.</small></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input ng-model="consultant_query.whatsapp" id="whatsapp" placeholder="https://chat.whatsapp.com/GA3els9w0eE9fwl" type="url" class="validate">
                      <label for="phone">Your WhatsApp Group Link</label>
                      <p class="left-align"><small>Enter your WhatsApp Group Link by opening the Group in WhatsApp, clicking the 3 dots at the top right, selecting Group Info, then under Participants select "Invite via link" and copy the link and paste it above. Leave blank if you don't have one.</small></p>
                    </div>
                  </div>
                  <div class="row hide">
                    <div class="input-field col s12">
                      <input ng-model="consultant_query.newsletter" id="newsletter" placeholder="https://elliesmith.mynewsletter.com/signup" type="url" class="validate">
                      <label for="phone">Your Newsletter Signup Link</label>
                      <p class="left-align"><small>Enter your Newsletter sign up link or leave blank if you don't have one.</small></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input ng-model="consultant_query.linkedin" id="linkedin" placeholder="https://linkedin.com/in/elliesmith" type="url" class="validate">
                      <label for="phone">Your LinkedIn URL</label>
                      <p class="left-align"><small>Enter your LinkedIn URL, leave blank if you don't have one.</small></p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <input ng-model="consultant_query.pinterest" id="pinterest" placeholder="https://pinterest.com/elliesmith" type="url" class="validate">
                      <label for="phone">Your Pinterest URL</label>
                      <p class="left-align"><small>Enter your Pinterest URL, leave blank if you don't have one.</small></p>
                    </div>
                  </div>
                </form>
            </div>
          </div>
          <div class="modal-footer">
            <div class="row" ng-show="!consultant_query.loading">
              <div class="col s12 right-align">
                <button class="btn waves-effect waves-light" ng-click="save_configurator()" type="button">Save
                  <i class="material-icons right">save</i>
                </button>
                <button ng-click="close_modal('#configurator'); goto_consultant_home()" class="btn waves-effect waves-light" type="button">Cancel</button>
              </div>
            </div>
          </div>
        </div>
        </div>
        <div id="party" class="col s12">
          <div class="modal-content center-align">
            <div class="row">
              <div class="col s12">
                <h4>Configure Party Links</h4>
                <p>You can configure Party Links to automatically associate products to a Consultants party on check-out.</p>
                <div class="row">
                  <form class="col s12">
                    <div class="row">
                      <div class="input-field col s12" ng-repeat="(i, code) in consultant_party_codes">
                        <input required="required" ng-model="consultant_party_codes[i].code" placeholder="W001923564" type="text" class="validate">
                        <label for="phone active">Party Code</label>
                        <p class="left-align"><small>Enter your unique Party Code, please ensure the party is active and has not expired.</small></p>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="row" ng-show="!consultant_query.loading">
                <div class="col s12 right-align">
                  <button class="btn waves-effect waves-light" ng-click="add_party_code()" type="button">Add Another Party Code</button>
                  <button class="btn waves-effect waves-light" ng-click="save_party_codes()" type="button">Save</button>
                </div>
                <div class="col s12 center-align" ng-show='saving_party_codes'>
                  <div class="progress">
                      <div class="indeterminate"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div id="welcome" class="modal">
      <div class="modal-content center-align">
        <h4><span ng-bind="consultant.data.name.full"></span>'s Smart Catalogue</h4>
        <p ng-bind-html="consultant.data.welcome_message | safeHtml"></p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>

    <div id="install_app_ios" class="modal">
      <div class="modal-content center-align">
        <h6>Install App.</h6>
        <p>To install <span ng-bind="consultant.data.name.full ? consultant.data.name.full + '\'s' : 'this'"></span> App on your device, please click <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-share"><path d="M4 12v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2v-8"></path><polyline points="16 6 12 2 8 6"></polyline><line x1="12" y1="2" x2="12" y2="15"></line></svg> at the bottom of this window and click "Add to Homescreen".</p>
        <img style="width:70%" src="assets/video/add-to-homescreen.gif" alt="Add to Homescreen">
      </div>
    </div>

    <div id="consultant_not_exists" class="modal">
      <div class="modal-content center-align">
        <h4>This Consultant does not exist.</h4>
        <p>It looks like this consultant does not exist on NYR Organic and we cannot find them in the Smart Catalogue. If you believe this to be an error, please contact your consultant for support.</p>
      </div>
    </div>

    <div id="consultant_not_setup" class="modal">
      <div class="modal-content center-align">
        <h4>This Smart Catalogue is not Setup.</h4>
        <p>It looks like this consultant has not setup their Smart Catalogue.</p>
        <p><small>If you own the shop name "<em ng-bind="_consultant.url_slug"></em>", you can setup your Smart Catalogue by clicking <a href="https://configure.nyrcatalogue.com/{{_consultant.url_slug}}?region={{get_consultant_region()}}">here</a>.</small></p>
      </div>
    </div>

    <div id="share" class="modal">
      <div class="modal-content center-align">
        <h4>Share <span ng-bind="consultant.data.name.full ? consultant.data.name.full + '\'s' : 'this'"></span> Smart Catalogue</h4>
        <p>Select a social media platform below to share to.</p>
        <p>
          <a target="_blank" ng-href="{{'https://www.facebook.com/sharer/sharer.php?u=https://vibrant-edison-0f2684.netlify.app/' + consultant.data.slug}}" class="waves-effect waves-light btn">Facebook</a>
          <a target="_blank" ng-href="{{'https://twitter.com/intent/tweet?url=https://vibrant-edison-0f2684.netlify.app/'+consultant.data.slug+'&text=Check%20out%20'+consultant.data.name.full+'\'s%20NYR%20smart%20catalogue'}}" class="waves-effect waves-light btn">Twitter</a>
          <a target="_blank" ng-href="{{'https://pinterest.com/pin/create/button/?url=https://vibrant-edison-0f2684.netlify.app/'+consultant.data.slug+'&media=&description=Check%20out%20'+consultant.data.name.full+'\'s%20NYR%20smart%20catalogue'}}" class="waves-effect waves-light btn">Pinterest</a>
          <a target="_blank" ng-href="{{'https://www.linkedin.com/shareArticle?mini=true&url=https://vibrant-edison-0f2684.netlify.app/'+consultant.data.slug}}" class="waves-effect waves-light btn">LinkedIn</a>
          <a target="_blank" ng-href="{{'mailto:info@example.com?&subject=&cc=&bcc=&body=https://vibrant-edison-0f2684.netlify.app/'+consultant.data.slug+'%0ACheck%20out%'+consultant.data.name.full+'\'s%20NYR%20smart%20catalogue'}}" class="waves-effect waves-light btn">Email</a>
        </p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>

    <div id="contact" class="modal">
      <div class="modal-content center-align">
        <div class="row">
          <div class="col">
            <img width="150" ng-src="{{'https://chart.apis.google.com/chart?cht=qr&chs=300x300&chl=' + catalogue_url}}">
          </div>
          <div class="col s8 left-align">
            <h5 ng-bind="consultant.data.name.full"></h5>
            <a style="color:#aaa" ng-href="{{'https://nyrcatalogue.com/' + consultant.data.slug}}" ng-bind="'https://nyrcatalogue.com/' + consultant.data.slug"></a>
            <p>
              <a target="_blank" ng-show="consultant.data.email" ng-href="{{'mailto:' + consultant.data.email}}" class="waves-effect waves-light btn">Email</a>
              <a target="_blank" ng-show="consultant.data.phone" ng-href="{{'tel:' + consultant.data.phone}}" class="waves-effect waves-light btn">Telephone</a>
              <a target="_blank" ng-show="consultant.data.social.facebook" ng-href="{{consultant.data.social.facebook}}" class="waves-effect waves-light btn">Facebook</a>
              <a target="_blank" ng-show="consultant.data.social.instagram" ng-href="{{consultant.data.social.instagram}}" class="waves-effect waves-light btn">Instagram</a>
              <a target="_blank" ng-show="consultant.data.social.linkedin" ng-href="{{consultant.data.social.linkedin}}" class="waves-effect waves-light btn">LinkedIn</a>
              <a target="_blank" ng-show="consultant.data.social.pinterest" ng-href="{{consultant.data.social.pinterest}}" class="waves-effect waves-light btn">Pinterest</a>
              <a target="_blank" ng-show="consultant.data.social.twitter" ng-href="{{consultant.data.social.twitter}}" class="waves-effect waves-light btn">Twitter</a>
            </p>
          </div>
        </div>
          <div class="collection">
            <a ng-show="favourite.$count" href="#" ng-click="mail_favourites()" class="collection-item">Email my Favourites to <span ng-bind="consultant.data.name.first_name"></span></a>
            <a href="#!" ng-show="can_install_app" ng-click="install_app()" class="collection-item">Install <span ng-bind="consultant.data.name.first_name"></span>'s App</a>
             <a ng-href="{{'https://uk.nyrorganic.com/shop/' + consultant.data.slug}}" class="collection-item">View <span ng-bind="consultant.data.name.first_name"></span>'s NYR Organic Shop</a>
             <a target="_blank" ng-show="consultant.data.social.whatsapp" class="collection-item" ng-href="{{consultant.data.social.whatsapp}}">Join <span ng-bind="consultant.data.name.first_name"></span>'s WhatsApp Group</a>
              <a target="_blank" ng-show="consultant.data.social.newsletter" class="collection-item hide" ng-href="{{consultant.data.social.newsletter}}">Subscribe to <span ng-bind="consultant.data.name.first_name"></span>'s Newsletter</a>
            <a ng-href="{{pdf_url}}" class="collection-item hide">Download this Smart Catalogue</a>
            <a ng-href="{{'https://uk.nyrorganic.com/shop/'+consultant.data.slug+'/area/become-a-consultant/'}}" class="collection-item">Become a Consultant</a>
            <a ng-href="{{'https://uk.nyrorganic.com/shop/'+consultant.data.slug+'/area/have-a-party/'}}" class="collection-item">Host an Event</a>
          </div>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>

    <div class="progress loading-page">
        <div class="indeterminate"></div>
    </div>

      <nav class="main-nav">
        <div class="nav-wrapper">
        <ul id="nav-mobile">
          <li>
            <a ng-href="{{'https://uk.nyrorganic.com/shop/' + consultant.data.slug}}" target="_blank" data-position="right" class="tooltipped" data-tooltip="{{'Go to '+ (consultant.data.name.first_name ? consultant.data.name.first_name + '\'s ' : '') +'NYR Organic Shop'}}">
              <img src="/assets/img/Logo.svg" alt="NYR Organic">
            </a>
          </li>
          <li>
            <a href="#" data-target="basket_sidebar" class="sidenav-trigger tooltipped" data-position="right" data-tooltip="Available Items">
              <span ng-if="active_items.length" class="tooltip" ng-bind="active_items.length"></span>
              <img src="/assets/img/Book.png" alt="Available Items">
            </a>
          </li>
          <li>
            <a href="#share" class="modal-trigger tooltipped" data-position="right" data-tooltip="Share Catalogue">
              <img src="/assets/img/Share.png" alt="Share Catalogue">
            </a>
          </li>
          <li>
            <a href="#" data-target="favourites_sidebar" class="sidenav-trigger tooltipped" data-position="right" data-tooltip="Your Favourites">
              <span ng-if="favourite.$count" class="tooltip" ng-bind="favourite.$count"></span>
              <img src="/assets/img/Favourites.png" alt="Your Favourites">
            </a>
          </li>
          <li>
            <a href="#contact" class="modal-trigger tooltipped" data-position="right" data-tooltip="Contact Consultant">
              <img src="/assets/img/Contact.png" alt="Contact Consultant">
            </a>
          </li>
        </ul>
      </div>
      </nav>

      <ul id="basket_sidebar" class="sidenav">
        <li>
          <header ng-hide="!active_items">
            <span ng-bind="active_items.length"></span> Item(s) on Page <span ng-bind="catalogue.active_page"></span> 
            <div ng-show="active_items.length">
              <a class='dropdown-trigger btn btn-small' href='#' data-target='filters'>Sort Items</a>
              <!-- Dropdown Structure -->
              <ul id='filters' class='dropdown-content'>
                <li><a ng-click="sort_items('az')" href="#!">A-Z</a></li>
                <li><a ng-click="sort_items('za')" href="#!">Z-A</a></li>
              </ul>
            </div>
          </header>
          <p class="center-align" ng-show="!active_items">There are no items to display.</p>
        </li>
        <li>
           <div class="row" ng-id="{{item.id}}" ng-repeat="(key, item) in active_items track by $index">
            <div class="col s12">
              <div class="card">
                <div class="card-image" ng-class="item.type">
                  <img style="width:50%;margin:0 auto;" ng-src="{{item.item.cover}}">
                  
                </div>
                <div class="card-content">
                  <h6><strong><span ng-bind="item.item.name">Card Title</span></strong></h6>
                  <p ng-if="item.type == 'product'" ng-bind="item.price"></p>
                  <p class="trim-info" ng-bind-html="item.item.summary | safeHtml"></p>
                </div>
                <div class="card-action center-align" ng-if="item.item.categories && 0">
                    <p><em>View similar products under</em></p>
                    <div class="chip" ng-repeat="cat in item.item.categories" ng-bind="cat.name"></div>
                  </div>
                <div class="card-action product" ng-if="item.type == 'product'">
                  <a ng-href="{{prep_product_url(item.item.link)}}" target="_blank" ng-if="item.item.link">Purchase</a>
                  <a ng-bind="favourite.$data[item.id] ? 'Unfavourite' : 'Favourite'" ng-if="item.item.favourite" ng-click="favourite.set(item.id, (favourite.$data[item.id] ? 0 : 1))" href="#">Favourite</a>
                </div>
                <div class="card-action video" ng-if="item.type == 'video'">
                  <a class="modal-trigger" href="#video_modal" ng-if="item.item.video" ng-click="open_video_modal(item)">Watch</a>
                </div>
              </div>
            </div>
        </div>
        </li>
      </ul>

      <ul id="favourites_sidebar" class="sidenav">
        <li>
          <header>
            (<span ng-bind="favourite.$count"></span>) Favourites</span>
          </header>
          <p class="center-align" ng-show="!favourite.$count">There are no items to display.</p>
        </li>
        <li>
           <div class="row">
            <div class="col s12">
               <div ng-show="favourite.$count" class="card">
                <div class="card-content center-align">
                  <span class="card-title"><strong>Send Your Favourites</strong></span>
                  <p>You can email this list of favourite products directly to your Consultant.</p>
                </div>
                <div class="card-action">
                  <a href="#" ng-click="mail_favourites()" style="width:100%">Send</a>
                </div>
              </div>
              <div class="card" ng-repeat="(item, state) in favourite.$data" ng-if="state">
                <div class="card-image" ng-class="catalogue.pages.data.items[item].type">
                  <img style="width:50%;margin:0 auto;" ng-src="{{catalogue.pages.data.items[item].item.cover}}">
                  
                </div>
                <div class="card-content">
                  <h6><strong><span ng-bind="catalogue.pages.data.items[item].item.name">Card Title</span></strong></h6>
                  <p ng-bind="catalogue.pages.data.items[item].price"></p>
                  <p class="trim-info" ng-bind-html="catalogue.pages.data.items[item].item.summary | safeHtml"></p>
                </div>
                <div class="card-action" ng-if="catalogue.pages.data.items[item].type == 'product'">
                  <a ng-href="{{prep_product_url(catalogue.pages.data.items[item].item.link)}}" target="_blank" ng-if="catalogue.pages.data.items[item].item.link">Purchase</a>
                  <a ng-bind="favourite.$data[catalogue.pages.data.items[item].id] ? 'Unfavourite' : 'Favourite'" ng-if="catalogue.pages.data.items[item].item.favourite" ng-click="favourite.set(catalogue.pages.data.items[item].id, (favourite.$data[catalogue.pages.data.items[item].id] ? 0 : 1))" href="#">Favourite</a>
                </div>
                <div class="card-action" ng-if="catalogue.pages.data.items[item].type == 'video'">
                  <a ng-href="{{catalogue.pages.data.items[item].item.link}}" target="_blank" ng-if="catalogue.pages.data.items[item].item.link">Visit</a>
                  <a class="modal-trigger" href="#video_modal" ng-if="catalogue.pages.data.items[item].item.video" ng-click="open_video_modal(catalogue.pages.data.items[item])">Watch</a>
                </div>
              </div>
            </div>
        </div>
        </li>
      </ul>

      <div class="flip-book-container solid-container"></div>

      <div>
          <div id="video_modal" class="modal">
            <div class="modal-content">
              <!-- <h4 ng-bind="catalogue.modal.name">Modal Header</h4> -->
              <!-- <p ng-bind="catalogue.modal.description">A bunch of text</p> -->
              <div ng-bind-html="catalogue.modal.item.video | safeHtml"></div>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </div>
          </div>
      </div>
      
          

    <!--JavaScript at end of body for optimized loading-->

    <script src="/dist/js/app.min.js"></script>
    <script src="https://code.angularjs.org/1.2.20/angular-sanitize.min.js"></script>
    <script src="/dist/js/driver/driver.min.js"></script>
    <script src="/dist/js/3d-flip-book/js/libs/html2canvas.min.js"></script>
    <script src="/dist/js/3d-flip-book/js/libs/three.min.js"></script>
    <script src="/dist/js/3d-flip-book/js/libs/pdf.min.js"></script>
    <script src="/dist/js/3d-flip-book/js/dist/3dflipbook.js"></script>
    

  </body>
</html>