<div id="configurator" class="modal non-dismiss">

  <div class="row">
    <div>
      <ul class="tabs">
        <li class="tab col s6" ng-class="hide_party_links ? 's12' : 's6'"><a class="active" href="#config">Configure Profile</a></li>
        <li class="tab col s6" ng-show="!hide_party_links"><a href="#party">Configure Party Links</a></li>
      </ul>
    </div>
    <div id="config" class="col s12">
      <div class="modal-content center-align">
        <div class="row">
          <div class="col s12">
            <h4>Configure Catalogue</h4>
            <p>Configure your NYR Organic Smart Catalogue by entering your information below. This information is used to link customers to your shop, social media accounts and to contact you.</p>
          </div>
        </div>
        <div>
          <div class="progress" ng-show="consultant_query.loading">
              <div class="indeterminate"></div>
          </div>
          <div class="row" ng-show="!consultant_query.loading">
            <form class="col s12">
              <div class="row">
                <div class="input-field col s6">
                  <input ng-model="consultant_query.first_name" placeholder="Ellie" id="first_name" type="text" class="validate">
                  <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                  <input ng-model="consultant_query.last_name" placeholder="Smith" id="last_name" type="text" class="validate">
                  <label for="last_name">Last Name</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <textarea style="min-height:100px" ng-model="consultant_query.welcome_message" class="materialize-textarea"></textarea>
                  <label for="email">Welcome Message</label>
                  <p class="left-align"><small>Add a Welcome message to be displayed to your customers when they first launch your NYR Organic Smart Catalogue.</small></p>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input ng-model="consultant_query.email" id="email" placeholder="ellie.smith@gmail.com" type="email" class="validate">
                  <label for="email">Email</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input ng-model="consultant_query.url" id="url" placeholder="https://uk.nyrorganic.com/shop/elliesmith" type="url" class="validate">
                  <label for="url">Your NYR Organic URL</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input ng-model="consultant_query.phone" id="phone" placeholder="{{consultant_query.region == 'uk' ? '+447957931543' : '+1 (123) 456–7890'}}" type="text" class="validate">
                  <label for="phone">Your Telephone Number</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <select ng-model="consultant_query.region">
                    <option value="uk">UK/IE</option>
                    <option value="us">US</option>
                  </select>
                  <label>Country</label>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <select ng-model="consultant_query.app_launch">
                    <option value="catalogue">My NYR Catalogue</option>
                    <option value="shop">My NYR Shop</option>
                  </select>
                  <label>App Launch</label>
                  <p class="left-align"><small>When a customer downloads and open your app on desktop and mobile, where would you like them to be taken to?</small></p>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input ng-model="consultant_query.twitter" id="twitter" placeholder="https://twitter.com/elliesmith" type="url" class="validate">
                  <label for="phone">Your Twitter URL</label>
                  <p class="left-align"><small>Enter your Twitter full URL, leave blank if you don't have one.</small></p>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input ng-model="consultant_query.facebook" id="facebook" placeholder="https://facebook.com/elliesmith" type="url" class="validate">
                  <label for="phone">Your Facebook URL</label>
                  <p class="left-align"><small>Enter your Facebook URL, leave blank if you don't have one.</small></p>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input ng-model="consultant_query.instagram" id="instagram" placeholder="https://instagram.com/elliesmith" type="url" class="validate">
                  <label for="phone">Your Instagram URL</label>
                  <p class="left-align"><small>Enter your Instagram URL, leave blank if you don't have one.</small></p>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input ng-model="consultant_query.whatsapp" id="whatsapp" placeholder="https://chat.whatsapp.com/GA3els9w0eE9fwl" type="url" class="validate">
                  <label for="phone">Your WhatsApp Group Link</label>
                  <p class="left-align"><small>Enter your WhatsApp Group Link by opening the Group in WhatsApp, clicking the 3 dots at the top right, selecting Group Info, then under Participants select "Invite via link" and copy the link and paste it above. Leave blank if you don't have one.</small></p>
                </div>
              </div>
              <div class="row hide">
                <div class="input-field col s12">
                  <input ng-model="consultant_query.newsletter" id="newsletter" placeholder="https://elliesmith.mynewsletter.com/signup" type="url" class="validate">
                  <label for="phone">Your Newsletter Signup Link</label>
                  <p class="left-align"><small>Enter your Newsletter sign up link or leave blank if you don't have one.</small></p>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input ng-model="consultant_query.linkedin" id="linkedin" placeholder="https://linkedin.com/in/elliesmith" type="url" class="validate">
                  <label for="phone">Your LinkedIn URL</label>
                  <p class="left-align"><small>Enter your LinkedIn URL, leave blank if you don't have one.</small></p>
                </div>
              </div>
              <div class="row">
                <div class="input-field col s12">
                  <input ng-model="consultant_query.pinterest" id="pinterest" placeholder="https://pinterest.com/elliesmith" type="url" class="validate">
                  <label for="phone">Your Pinterest URL</label>
                  <p class="left-align"><small>Enter your Pinterest URL, leave blank if you don't have one.</small></p>
                </div>
              </div>
            </form>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row" ng-show="!consultant_query.loading">
          <div class="col s12 right-align">
            <button class="btn waves-effect waves-light" ng-click="save_configurator()" type="button">Save
              <i class="material-icons right">save</i>
            </button>
            <button ng-click="close_modal('#configurator'); goto_consultant_home()" class="btn waves-effect waves-light" type="button">Cancel</button>
          </div>
        </div>
      </div>
    </div>
    </div>
    <div id="party" class="col s12">
      <div class="modal-content center-align">
        <div class="row">
          <div class="col s12">
            <h4>Party Links</h4>
            <p>On-line party links functionality currently unavailable and will return when phase 2 launches.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>