<div id="share" class="modal">
  <div class="modal-content center-align">
    <h4>Share <span ng-bind="consultant.data.name.full ? consultant.data.name.full + '\'s' : 'this'"></span> Smart Catalogue</h4>
    <p>Select a social media platform below to share to.</p>
    <p>
      <a target="_blank" ng-href="{{'https://www.facebook.com/sharer/sharer.php?u=' + get_consultant_url()}}" class="waves-effect waves-light btn">Facebook</a>
      <a target="_blank" ng-href="{{'https://twitter.com/intent/tweet?url='+get_consultant_url()+'&text=Check%20out%20'+consultant.data.name.full+'\'s%20NYR%20smart%20catalogue'}}" class="waves-effect waves-light btn">Twitter</a>
      <a target="_blank" ng-href="{{'https://pinterest.com/pin/create/button/?url='+get_consultant_url()+'&media=&description=Check%20out%20'+consultant.data.name.full+'\'s%20NYR%20smart%20catalogue'}}" class="waves-effect waves-light btn">Pinterest</a>
      <a target="_blank" ng-href="{{'https://www.linkedin.com/shareArticle?mini=true&url='+get_consultant_url()}}" class="waves-effect waves-light btn">LinkedIn</a>
      <a target="_blank" ng-href="{{'mailto:?&body='+get_consultant_url()+'%0ACheck%20out%20'+consultant.data.name.full+'\'s%20NYR%20smart%20catalogue'}}" class="waves-effect waves-light btn">Email</a>
    </p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>