<div id="welcome" class="modal">
  <div class="modal-content center-align">
    <h4><span ng-bind="consultant.data.name.full"></span>'s Smart Catalogue</h4>
    <p ng-bind-html="consultant.data.welcome_message | safeHtml"></p>
    <hr>
    <div class="left-align">
      <p>Please take some time to browse my Smart Catalogue using the arrow buttons below or your cursor to flip through the pages.</p> 
      <p>How to use:</p>
      <p><img src="/assets/img/Book@dark.png" width="20" alt="Items to View"> Viewing more product details, & adding favourites: Some pages will have an ‘Items to View’ pop up. Click this, or the <img src="/assets/img/Book@dark.png" width="20" alt="Items to View"> button in the left-hand column to reveal a slide out feature. This allows you to take a closer look at the individual products & details on the page. Read more about them by clicking the ‘More Info’ button under each product image. Or add them to your favourites wish list by clicking the ‘Favourites’ button alongside each one.</p>
      <p><img src="/assets/img/Share@Dark.png" style="position:relative;top:5px" width="15" alt="Sharw"> Sharing the Catalogue: Allows you to share the catalogue to Facebook, Twitter, Pinterest, Linkedin or email it to a friend.</p>
      <p><img src="/assets/img/Favourites@dark.png" style="position:relative;top:5px;margin-right:5px;" width="15" alt="Favourites">Favourites List: By clicking the Favourites you can view the list of favourites you have bookmarked so far. You can also send me your favourites list by clicking the ‘Send’ button at the top of this slide out.</p>
      <p><img src="/assets/img/Contact@dark.png" width="20" alt="Contact"> My contact details: Clicking this will give you all my contact details if you have any queries or questions and when you are ready to shop just click on the <img src="/assets/img/Logo@Dark.svg" style="position: relative; top: 4px;" width="20" alt="NYR Organic"> </p>

    </div>

  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
  </div>
</div>