body,
nav.main-nav {
	transition: background-color 0.4s;
	-webkit-transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
}

html,
body {
	padding: 0;
	background: #1f376c;

	hr {
		border: 0;
		border-top: 1px dashed #ddd;
	}

	.btn,
	.btn-large,
	.btn-small {
		box-shadow: none;
		background-color: #192b54;

		&:hover,
		&:focus,
		&:active {
			box-shadow: none;
			background-color: #1f376c;
		}
	}

	.b-inline {
		margin-top: 15px;
		margin-bottom: 15px;
	}

	.collection a.collection-item {
		color: #333;
	}


	@media screen and (min-width: 901px) {

		nav {
			width: 64px;
			height: 100vh;

			li {
				width: 100%;

				a {
					padding: 0;
				}
			}
		}

	}

	@media screen and (max-width: 900px) {
		body {
			nav {
				div.nav-wrapper {
					ul {
						li {
							a {
								span.tooltip {
									top: 8px;
								}
							}
						}
					}
				}
			}

			#root_setup {
				div.col > img {
					max-width: 50px;
					margin-top: 15px;
				}
			}

			#share {
				div.modal-content {
					p a {
						display: block;
						margin-bottom: 10px;
					}
				}
			}

			#contact {

				img.qr {
					width: 100%;
				}

				a.cat-url {
					word-break: break-word;
				}

			}
		}
	}

	nav {
		
		background-color: #192b54;
		box-shadow: none;
		position: fixed;
		top:0;
		left:0;

		div.nav-wrapper {
			text-align: center;

			ul {
				display: inline-block;
				li {
					text-align: center;

					a {

						span {
							vertical-align: sub;

							&.tooltip {
						    	text-align: center;
								position: absolute;
								right: 8px;
								background: #fff;
								height: auto;
								display: inline;
								line-height: 7px;
								font-size: 10px;
								color: #192b54;
								min-width: 18px;
								padding: 5px;
								border-radius: 10px;
								vertical-align: middle;
								font-weight: 700;
								top: 15px;
								box-shadow: 0px 2px 3px rgba(0,0,0,0.7);
						    }
						}

						&.sidenav-trigger {
							display: block;
							margin: 0;
							width: 100%;
						}

						img {
							vertical-align: middle;

							&[alt="NYR Organic"] {
								max-width: 38px;
							}

							&[alt="View Items"] {
								max-width: 30px; 
							}

							&[alt="Share Catalogue"] {
								max-width: 24px;
							}

							&[alt="Your Favourites"] {
								max-width: 22px;
							}

							&[alt="Contact Consultant"] {
								max-width: 31px;
							}

							&[alt="Basket"] {
								max-width: 35px;
							}
						}
					}
				}
			}
		}
	}

	iframe {
		width: 100%;
		height: 420px;
	}

	.trim-info {
	  max-width: 100%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
      max-height: 20px;
      position: relative;
   }

	ul.sidenav {
		li {
			header {
				text-align: center;
				font-weight: bold;
				font-size: 12px;
				text-transform: uppercase;
			}
			div.card {
				p {
					line-height: 1.5;
				}

				div.card-image {
					&.video {
						> img {
							width: 100% !important;
						}
					}
				}

				div.card-action {
					padding: 5px 15px;

					&.video {
						a {
							width: 100%;
						}
					}

					a {
						text-align: center;
						width: 32%;
					    display: inline-block;
					    margin-right: 0 !important;
					    color: #1f376c !important;

					    &.uk-disabled {
					    	pointer-events: none;
					    	color: #CCC !important;
					    }

					    &.w-1-2 {
					    	width: 49%;
					    }

					    img[alt="Remove from Basket"] {
							width: 22px;
							top: 2px;
						    position: relative;
						}

					    img[alt="Unfavourite"],
					    img[alt="Favourite"] {
					    	width: 20px;
					    	position: relative;
					    	top: 1px
					    }
					}
				}
			}
		}
	}

	.loading-page {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 300px;

		&.progress {
			background-color: #192b54;

			.indeterminate:before,
			.indeterminate:after {
				background-color: rgba(255,255,255,1);
			}
		}
	}

	.solid-container {
		height: 100vh;
		width: 100%;
	}
}