html,
body {
	padding: 0;
	background: #1f376c;

	@media screen and (min-width: 900px) {

		nav {
			width: 64px;
			height: 100vh;

			li {
				width: 100%;

				a {
					padding: 0;
				}
			}
		}

	}

	nav {
		
		background-color: #192b54;
		box-shadow: none;
		position: fixed;
		top:0;
		left:0;

		li {
			text-align: center;

			a {

				span {
					vertical-align: sub;
				}

				&.sidenav-trigger {
					display: block;
					margin: 0;
					width: 100%;
				}
			}
		}
	}

	iframe {
		width: 100%;
		height: 420px;
	}

	.trim-info {
	  max-width: 100%;
      display: inline-block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;  
      max-height: 20px;
      position: relative;
   }

	ul.sidenav {
		li {
			header {
				text-align: center;
				font-weight: bold;
				font-size: 12px;
				text-transform: uppercase;
			}
			div.card {
				p {
					line-height: 1.5;
				}

				div.card-action {
					padding: 5px 15px;

					a {
						text-align: center;
						width: 49%;
					    display: inline-block;
					    margin-right: 0 !important;
					    color: #1f376c !important;
					}
				}
			}
		}
	}

	.loading-page {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 300px;

		&.progress {
			background-color: #192b54;

			.indeterminate:before,
			.indeterminate:after {
				background-color: rgba(255,255,255,1);
			}
		}
	}

	.solid-container {
		height: 100vh;
		width: 100%;
	}
}